@import "base.css";
@font-face {
    font-family: 'iconfont';  /* project id 547763 */
    src: url('https://at.alicdn.com/t/font_547763_bpb979wwqwku766r.eot');
    src: url('https://at.alicdn.com/t/font_547763_bpb979wwqwku766r.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_547763_bpb979wwqwku766r.woff') format('woff'),
    url('https://at.alicdn.com/t/font_547763_bpb979wwqwku766r.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_547763_bpb979wwqwku766r.svg#iconfont') format('svg');
}

/*header*/
header{
    width: 100%;
    height: auto;
}
.header_main{
    height:auto;
    margin: 0 auto;
}
.header_logo{
    width: 189px;
    height:auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header_logo a{
    display: block;
    width: 100%;
    height:100%;
}
.header_logo a:hover{
    text-decoration: none;
}
.header_logo a p:first-child{
    font-size: 42px;
    color: #e79325;
    line-height: 47px;
    font-family: "Stencil","Oleo Script","Vivaldi", cursive;
    font-weight: 800;
}
.header_logo a p:last-child{
    width: 100%;
    font-size: 11px;
    color: #adadad;
    line-height: 11px;
    font-family: "Tahoma";
    font-weight: 400;
    text-align: center;
    margin-top: -5px;
}
.header_nav{
    height:35px;
    margin-top: 17px;
    margin-left: 95px;
    display: flex;
    justify-content: space-around;
}
.header_nav a{
    width: auto;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.header_nav a:nth-child(3){
    background: #e79325;
}
.header_nav a:nth-child(3) p{
    color: #fff;
}
.header_nav a p{
    font-size: 15px;
    color: #e79325;
    line-height:35px;
    letter-spacing: 1px;
}
.header_nav a:hover{
    background: #e79325;
    text-decoration: none;
}
.header_nav a:hover p{
    color: #fff;
}
.clear{
    display: block;
    clear: both;
}
.header_main_md{
    display: block;
}
.iconfont_1{
    font-family: iconfont;
    font-size: 30px;
    color: #e79325;
    line-height: 57px;
    font-style: normal;
    float: left;
}
.header_log_xs{
    float: left;
    padding-left: 10px;
}
.header_log_xs:hover{
    text-decoration: none;
}
.header_log_xs p{
    font-size: 42px;
    color: #e79325;
    line-height: 57px;
    font-family: "Stencil","Oleo Script","Vivaldi", cursive;
    font-weight: 800;
    margin-bottom: 0;
}
.header_main_xs a:nth-child(3) .iconfont_1{
    float: right;
}

/*banner*/
.banner_line{
    width: 100%;
    height: 12px;
    background-image: url("../img/hr-sealine-gray.png");
    background-repeat-x: repeat-x;
    background-repeat-y: no-repeat;
}
.banner{
    width: 100%;
    position: relative;
    background-image: url("../img/bg-menu.jpg");
    background-size: cover;
    background-position-x: 50%;
    background-position-y:50%;
}
.banner_box{
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.banner_title{
    width: 100%;
    height: 54px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
}
.title_line{
    width: 70%;
    height: 12px;
    background-image: url("../img/hr-slider.png");
    background-size: cover;
}
.banner .banner_box .banner_title p{
    color: #fff;
    font-family: "Stencil","Oleo Script","Vivaldi", cursive;
    font-weight: 800;
    margin-bottom: 0;
}
.banner_box .title_{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
}
.title_ a{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}
.title_ a:hover{
    color: #e79325;
    text-decoration: none;
}

/*specials*/
.specials{
    width: 100%;
    height: auto;
}
li.specials_title p{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}
.specials_list{
    text-align: center;
}
.specials_list img{
    display: block;
    width: 100%;
}
.specials_list a{
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    margin-top: 30px;
    color: #1D1D1D;
}
.specials_list a:hover{
    color: #e79325;
    text-decoration: none;
}
.specials_list p{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #adadad;
    margin-top: 15px;
    margin-bottom: 40px;
}

/*footer*/
footer{
    width: 100%;
    height:auto;
    padding-top: 78px;
    padding-bottom: 46px;
    background: #1D1D1D;
}
.footer_address h2 a{
    font-size: 36px;
    color: #e79325;
    line-height: 36px;
    font-family: "Stencil","Oleo Script","Vivaldi", cursive;
    font-weight: 800;
}
.footer_address h2 a:hover{
    text-decoration: none;
}
.footer_address h3{
    font-size: 18px;
    color: #adadad;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.footer_address p{
    color: #adadad;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.footer_address p a{
    color: #adadad;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.footer_address p a:hover{
    color: #e79325;
    text-decoration: none;
}
.footer_contact h4,.footer_news h4{
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 36px;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.contact input{
    width: 100%;
    height:40px;
    font-size: 11px;
    background: none;
    border: 1px solid #343434;
    padding: 0 10px;
    margin-bottom: 15px;
    color: #fff;
}
.contact textarea{
    width: 100%;
    height: 100px;
    background: none;
    font-size: 11px;
    border: 1px solid #343434;
    padding: 5px 10px ;
    resize: none;
    color: #fff;
}
.contact button{
    font-size: 14px;
    line-height: 24px;
    color: #e79325;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    float: right;
    background: none;
}
.footer_news p{
    width: 100%;
    color: #adadad;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.footer_news .contact button{
    margin-top: -5px;
}
.footer_line{
    width: 100%;
    height: 12px;
    background-image: url("../img/hr-slider.png");
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: repeat-x;
    background-repeat-y: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    box-sizing: border-box;
}
footer .container p:last-child{
    font-size: 11px;
    color: #adadad;
    margin-top: 20px;
}
.container p:last-child a{
    font-size: 11px;
    color: #adadad;
}
.container p:last-child a:hover{
    color: #e79325;
    text-decoration: none;
}
.specials_box{
    width: 100%;
    height: 317px;
    margin-bottom: 50px;
    margin-top: 30px;
    transition: all 0.5s;
}
.spe_box{
    width: 100%;
    height: 100%;
    background: url("../img/specials_img.jpg");
    background-size: cover;
    background-position-x: 0;
    position: relative;
}
.spe_main{
    width: 100%;
    height: 157px;
    position: absolute;
    top:0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.spe_top{
    display: block;
    background: url("../img/specials-img-1.png");
    width: 452px;
    height: 62px;
    margin: 0 auto;
}
.spe_bottom{
    display: block;
    background: url("../img/specials-img-2.png");
    width: 454px;
    height: 12px;
    margin: 0 auto;
}
.spe_main h1{
    width: 380px;
    font-size: 50px;
    color: #fff;
    font-family: "Vivaldi", "Stencil","Oleo Script",cursive;
    margin: 0 auto;
    font-weight: 700;
}




/*pc大屏*/
@media screen and (min-width: 1200px){
    /*header*/
    .header_main{
        width: 1200px;
        display: block;
    }
    .header_main .header_logo{
        float: left;
    }
    .header_main .header_nav{
        float: left;
        width:872px;
    }
    .header_main_md{
        display: none;
    }
    .header_main_xs{
        display: none;
    }
    /*banner*/
    .banner{
        height: 350px;
    }
    .banner_box{
        top: 147px;
    }
    .banner_box p:nth-child(2){
        width: 585px;
    }
    .banner .banner_box .banner_title p{
        font-size: 42px;
    }
    /*specials*/
    .container .row .specials_title{
        padding: 70px 255px;
    }
    .container .row .specials_box:hover{
        transform: scale(1.05);
    }
}

/*pc小屏*/
@media screen and (min-width: 992px) and (max-width: 1200px){
    /*header*/
    .header_main{
        display: none;
    }
    .header_main_md{
        display: block;
        margin-top: 5px;
    }
    .header_main_md .header_logo{
        margin: 0 auto;
    }
    .header_main_md .header_nav{
        margin: 0 auto;
        width:872px;
    }
    .header_main_xs{
        display: none;
    }
    /*banner*/
    .banner{
        height: 221px;
    }
    .banner_box{
        top: 74px;
    }
    .banner_box p:nth-child(2){
        width: 585px;
    }
    .banner .banner_box .banner_title p{
        font-size: 40px;
    }
    /*specials*/
    .container .row .specials_title{
        padding: 70px 80px;
    }
    .container .row .specials_box:hover{
        transform: scale(1.05);
    }
}

/*平板*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    /*header*/
    .header_main{
        display: none;
    }
    .header_main_md{
        display: block;
        margin-top: 5px;
    }
    .header_main_md .header_logo{
        margin: 0 auto;
    }
    .header_main_md .header_nav{
        margin: 0 auto;
    }
    .header_main_xs{
        display: none;
    }
    /*banner*/
    .banner{
        height: 221px;
    }
    .banner_box{
        top: 77px;
    }
    .banner_box p:nth-child(2){
        width: 585px;
    }
    .banner .banner_box .banner_title p{
        font-size: 40px;
    }
    /*specials*/
    .container .row .specials_title{
        padding: 70px 55px;
    }
    .container .row .specials_box:hover{
        transform: scale(1.05);
    }
}

/*移动端*/
@media screen and (max-width: 768px) {
    /*header*/
    .header_main{
        display: none;
    }
    .header_main_md{
        display: none;
    }
    .header_main_xs{
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*banner*/
    .banner{
        height: 201px;
    }
    .banner_box{
        top: 38px;
    }
    .banner_box p:nth-child(2){
        width: 315px;
    }
    .banner .banner_box .banner_title p{
        font-size: 30px;
    }
    .banner_box{
        top: 70px;
    }
    /*footer*/
    .footer_address{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*specials*/
    .container .row .specials_title{
        padding: 70px 100px 80px 100px;
    }
    .container .row .specials_list{
        padding-left: 100px;
        padding-right: 100px;
    }
}
